@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html, body {
  @apply min-h-screen;
}

body {
  @apply bg-gradient-to-br from-violet-500 via-purple-500 to-fuchsia-500 text-white font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
